// Required Parameters
params.reads = "/scratch/cgsb/gencore/out/Siegal/*HVYTYDRX2*/merged/*_{W,O}*"
params.ref = "/scratch/cb4097/Sequencing/Reference/*.fna"
params.outdir = "$SCRATCH/Sequencing/CSSVIII_CuSO4_A23"
params.fcid = "HVYTYDRX2"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.hc_config = ""

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// slurm and resource allocation
process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    cpus = 10
    memory = { 32.GB * task.attempt }
    time = { 120.min * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 4
    withName: markDuplicatesSpark { memory = '128 GB' }
}
